{% load i18n %}
<a href="{% url 'client:registration' %}" class="text-secondary h-icon" data-toggle="tooltip" title="{% trans 'Royxatdan otish' %}"><i class="bi-person"></i></a>
<a href="{% url 'client:logout' %}" class="text-secondary h-icon ml-3" data-toggle="tooltip" title="{% trans 'Tizimdan chiqish' %}"><i class="bi-person-x"></i></a>
<a href="{% url 'client:profile' %}" class="text-secondary h-icon ml-2 ml-lg-3" data-toggle="tooltip" title="{% trans 'Tizimga kirish' %}"><i class="bi-box-arrow-in-right"></i></a>
